#click {
  background-image: url(../assets/beg/swear.png);
  touch-action: manipulation;
}

fieldset {
  overflow: auto;
  height: 400px;
  width: 100%;
  display: inline-block;
  background-size: cover;
  background-position: center;
}

legend {
  user-select: none;
}

#click legend::after, article button::after {
  content: ' bruhs'
}


body {
  background: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (min-width: 500px) {
  body {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 0.5em;
    column-gap: 0.5em;
  }
  fieldset {
    display: block;
    width: unset;
  }
}

legend {
  border-radius: 1em;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.5);
}

article button::before {
  content: 'Buy for '
}
