#click {
  background-image: url(../assets/beg/swear.png);
}

fieldset {
  max-width: 400px;
  overflow: auto;
  height: 400px;
  background-size: cover;
  background-position: center;
}

legend {
  user-select: none;
}

#click legend::after, article button::after {
  content: ' bruhs'
}

body {
  background: black;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

legend {
  border-radius: 1em;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.5);
}

article button::before {
  content: 'Buy for '
}
